.expenses {
    background-color: rgb(31,31,31);
    padding: 1rem;
    margin: 2rem auto;
    width: 50rem;
    max-width: 95%;
 
    
}

.update {
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: #dd0e0e;
    border: 1px solid white;
    padding: 0.5rem;
    border-radius: 12px;
}